body {
    background-image: url(assets/istockphoto-1143099981-612x612.jpg);
    background-size: cover;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
}

header {
    text-align: center;
    margin: 30px 30px 0 30px;
    border-radius: 15px 15px 0 0;
    padding: 15px 0;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-image: url(assets/rustic-kitchen-with-modern-appliances-inside-generated-by-ai_188544-38458.jpg);
    background-size: contain;
}

header > img {
    width: 800px;
    border-radius: 15px;
    border: 2px solid black;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 2.7em;
    background: linear-gradient(90deg, #e66465, #9198e5);
    color: white;
}

main {
    margin: 0 30px 0 30px ;
    padding: 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
}

.tips {
    text-align: center;
}

.content {
    display: flex;
    flex: auto;
}

li {
    padding: 5px;
    transition: all 0.3s ease;
    cursor: default;
}

li:hover {
    color: darkgoldenrod;
}

.content > section {
    margin: 1em;
    padding: 0.5em;
    width: 50%;
    min-width: 0;
    justify-content: space-between;
}

.ingredients {
    border: 2px solid darkred;
    border-radius: 15px;
    padding: 15px;
}

.instructions {
    border: 2px solid darkred;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    background-color: #9198e5;
    padding: 5px;
    margin: 0 0;
    border-radius: 5px;
}

footer {
    display: flex;
    border-radius: 0 0 15px 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    margin: 0 30px 30px 30px;
}


h3 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 2.7em;
    font-style: normal;
    margin: 45px auto;
    text-align: center;
    text-decoration: underline;
}